html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5bdb3;
}

.form-signin {

  /*max-width: 450px*/;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;


}

.form-signin .form-control {
  position: relative;
    left:125px;
    width: 50%;
   align:center;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;

}

.form-signin .form-control:focus {
  z-index: 1;
}
.row1{
  display:inline-block;

}
.btn{
margin:20px 20px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem
}
