html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

   background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.3), rgba(42, 27, 161, 0.7) 100%);
   background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.3), rgba(42, 27, 161, 0.7) 100%);
   background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.3)), to rgba(42, 27, 161, 1));
   background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.3), rgba(42, 27, 161, 0.7)100%);
   background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.3), rgba(42, 27, 161, 0.7)100%);
background: border-box;

}
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #010000 !important;
  }
}
.top-nav-collapse {
  background-color: #010000 !important;
}


.back{
  background-color:#010000;
}

.form-signin {
  /*max-width: 450px*/
  ;
  padding: 10px;
  padding-top: 3rem;
  margin: 0 auto;

}

.form-signin .form-control {
  position: relative;
  left: 125px;
  width: 50%;
  align: center;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 1;
}

.row1 {
  display: inline-block;
}

.btn {
  margin: 20px 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #eeeeee;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid{
  padding-left: 1rem;

}
